<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link href="/static/css/reviewstyle.css">
    <title>Reviews by Category</title>
</head>

<body>
<h1>Reviews by Category</h1>
<ul>
<li th:each="reviewTitle:${categoryName.reviews}">
    <a th:href="@{'/reviews/'+ ${categoryName.categoryName}}" th:text="${categoryName.categoryName}">Category</a>
</ul>


</body>

</html>